/* CSS PAGE FOR GLOBAL DESIGN */

p{ /* CONSIDER updating to not be global*/
  font-family: Fantasy; /* change to papyrus or fantasy */
}

body {
  margin:0;
  padding: 0;
  font-family: Fantasy; /* change to papyrus or fantasy */
}

strong {
  font-weight: bold;
}

/* Navigation Bar */
/* This code styles the links and set up urls to other pages*/
nav {
  z-index: 1000;
  box-sizing: border-box;
  background-color: rgb(247, 255, 250);
  border-top: 2px solid rgb(98, 65, 217);
  border-bottom: 2px solid rgb(98, 65, 217);
  border-style: groove  ;
  border-left: none;
  border-right: none;
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
}

.navbar-dimmed {
  opacity: 0.75;
  transition: opacity 0.5s ease; /* Smooth transition for dimming effect */
}

.title {  
  color: rgb(113, 98, 253);
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 6vw;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  background-color: rgb(113, 98, 253);
  color: white;
  font-size: 1vw;
  padding: 1.2vh 3.6vh;
  border-radius: 2vw;
  text-decoration: none;
  font-weight: 550;
  margin-right: 1.5vw;
}

nav ul li a.nav-button:hover {
  background-color: #9385ff; /* lighter indigo on hover */
}

/* Fade and Fly Effect */    
@keyframes galleryFadeIn {
  0% {
    opacity: 0; /* Starting opacity (invisible) */
    transform: translateY(-20px);
  }
  100% {
    opacity: 1; /* Ending opacity (fully visible) */
    transform: translateY(20px);
  }
}

/* Fade and Fly Effect */    
@keyframes textFadeIn {
  0% {
    opacity: 0; /* Starting opacity (invisible) */
    transform: translateY(-20px);
  }
  100% {
    opacity: 1; /* Ending opacity (fully visible) */
    transform: translateY(0px);
  }
}

#gallery {
  animation: galleryFadeIn 1.5s ease forwards; /* Apply fade-in effect to all elements */
}

#bigTitle, #descripWrite, footer p, #loginButtons {
  animation: textFadeIn 1.5s ease forwards; /* Apply fade-in effect to all elements */
}
